<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="./css/App.css"></link>
        <title>Darwin Yang</title>
    </head>

    <body>
        <h1>Test</h1>
        <div id="root"></div>
    </body>

    <script src="bundle.js"></script>
</html>
